<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>RK Lottery </title>
    <link rel="stylesheet" href="/index_files/index-96409872.css">
    <link rel="stylesheet" href="/index_files/index-96409872.css">
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon" />
    <style>
        /* Styles for alert message */
        .msg[data-v-1dcba851] {
            max-width: 12.8rem;
            width: 80%;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 100000;
        }

        .msg .msg-content[data-v-1dcba851] {
            position: relative;
            padding: .32rem .66667rem;
            text-align: center;
            line-height: .64rem;
            word-break: break-all;
            overflow: hidden;
            font-size: .37333rem;
            color: #fff;
            background-color: rgba(0, 0, 0, .8);
        }

        .v-enter[data-v-1dcba851],
        .v-leave-to[data-v-1dcba851] {
            opacity: 0;
        }

        .v-enter-active[data-v-1dcba851] {
            transition: opacity .5s;
            animation: bounce-in-data-v-1dcba851 .5s;
        }

        .v-leave-active[data-v-1dcba851] {
            transition: opacity .3s;
            animation: bounce-in-data-v-1dcba851 .5s reverse;
        }

        @keyframes bounce-in-data-v-1dcba851 {
            0% {
                transform: scale(.4);
            }

            50% {
                transform: scale(1.03);
            }

            to {
                transform: scale(1);
            }
        }

        /* General styling */
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
            font-size: 12px;
        }

        .mian[data-v-7aa0f84a] {
            background-color: #22275b;
        }

        .mian .bank[data-v-7aa0f84a] {
            background: #22275b;
            padding: .4rem;
        }

        .mian .bank .box[data-v-7aa0f84a] {
            background: #2b3270;
            border-radius: .26667rem;
            padding: .4rem;
            
        }

        .mian .bank .box .item[data-v-7aa0f84a] {
            margin-bottom: .26667rem;
        }

        .mian .bank .box .item .lab[data-v-7aa0f84a] {
            font-size: .4rem;
            margin-bottom: .26667rem;
            color: #48eaff;

        }

        .mian .bank .box .item .input .ipt[data-v-7aa0f84a] {
            width: 100%;
            padding: 0 .4rem;
            height: .93333rem;
            line-height: .93333rem;
            border-radius: .13333rem;
            border: .05333rem solid #48eaff;
        }

        .mian .bank .bank-btn .btn[data-v-7aa0f84a] {
            width: 50%;
            height: 0.93333rem;
            color: #ffffff;
            font-size: .4rem;
            font-weight: 700;
            letter-spacing: .01333rem;
            border: none;
            border-radius: 1.06667rem;
            background: -webkit-linear-gradient(top, #59b0ea 0%, #61a9ff 100%);
            background: linear-gradient(180deg, #59b0ea 0%, #61a9ff 100%);
        }
    </style>
</head>

<body>
    <div id="app">
        <div data-v-7aa0f84a="" class="mian">
            <div data-v-106b99c8="" data-v-7aa0f84a="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/wallet/withdrawal'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <img data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back" />
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Add Bank Details</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            <div data-v-7aa0f84a="" class="bank">
                <div data-v-7aa0f84a="" class="box">
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Bank Name</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="Enter Bank Name" class="ipt" />
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Your Full Name</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="Enter Your Full Name" class="ipt" />
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Bank Account Number</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="Enter Bank Account Number" class="ipt" />
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">IFSC Code</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="Enter IFSC Code" class="ipt" />
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">UPI ID</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="Enter UPI ID" class="ipt" />
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Phone Number</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" maxlength="10" placeholder="Enter Phone Number"
                                class="ipt" />
                        </div>
                    </div>
                </div>
                <div data-v-7aa0f84a="" class="c-row c-row-center m-t-20 bank-btn">
                    <button data-v-7aa0f84a=""
                        class="btn van-button van-button--default van-button--normal van-button--block van-button--round">
                        <div data-v-7aa0f84a="" class="van-button__content">
                            <span data-v-7aa0f84a="" class="van-button__text">
                                Add Bank Details
                            </span>
                        </div>
                    </button>
                </div>
            </div>
            <div data-v-7692a079="" data-v-7aa0f84a="" class="Loading c-row c-row-middle-center" style="display: none">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                        style="width: auto; height: auto; -webkit-animation-duration: 1s; animation-duration: 1s;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet"
                            style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
                            <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)"
                                style="display: block;">
                                <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice"
                                    xlink:href="/index_files/loadingspinner.png"></image>
                            </g>
                            <g transform="matrix(0.9408400058746338,0,0,0.9408400058746338,20.969436645507812,79.30152130126953)"
                                style="display: block;">
                                <image width="168px" height="44px" preserveAspectRatio="xMidYMid slice"
                                    xlink:href="/index_files/h5setting_202401100608011fs2.png"></image>
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function alertMess(text, sic) {
            $('body').append(`
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to">${text}</div>
                </div>
            `);
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }

        $('button').click(function (e) {
            e.preventDefault();
            let bankName = $('.ipt:eq(0)').val().trim();
            let fullName = $('.ipt:eq(1)').val().trim();
            let accountNumber = $('.ipt:eq(2)').val().trim();
            let ifscCode = $('.ipt:eq(3)').val().trim();
            let upiId = $('.ipt:eq(4)').val().trim();
            let phoneNumber = $('.ipt:eq(5)').val().trim();

            if (bankName && fullName && accountNumber && ifscCode && upiId && phoneNumber) {
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/addBank",
                    data: {
                        name_bank: bankName,
                        name_user: fullName,
                        stk: accountNumber,
                        email: ifscCode,
                        sdt: upiId,
                        tinh: phoneNumber
                    },
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        alertMess(response.message, $(this));
                        setTimeout(() => {
                            if (response.message) {
                                window.location.href = "/wallet/withdrawal";
                            }
                        }, 1200);
                    },
                    error: function (xhr, status, error) {
                        alertMess('Error occurred while processing. Please try again later.', $(this));
                    }
                });
            } else {
                alertMess('Please enter all information.', $(this));
            }
        });

        $(document).ready(function () {
            function fetchSavedAddresses() {
                $.ajax({
                    type: 'GET',
                    url: '/api/webapi/withdrawalDetails',
                    dataType: 'json',
                    success: function (response) {
                        displaySavedAddresses(response && response.bankDetails || {});
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching saved addresses:', error);
                    }
                });
            }

            function displaySavedAddresses(address) {
                var savedAddressesList = $('#savedAddressesList');
                savedAddressesList.empty();


                let bankName = $('.ipt:eq(0)').val(address.name_bank)
                let fullName = $('.ipt:eq(1)').val(address.name_user)
                let accountNumber = $('.ipt:eq(2)').val(address.stk)
                let ifscCode = $('.ipt:eq(3)').val(address.email)
                let upiId = $('.ipt:eq(4)').val(address.sdt)
                let phoneNumber = $('.ipt:eq(5)').val(address.tinh)

            }

            fetchSavedAddresses();

            $('#withdrawalForm').submit(function (e) {
                e.preventDefault();

                var erc20Address = $('#erc20Address').val().trim();
                var bnbAddress = $('#bnbAddress').val().trim();
                var maticAddress = $('#maticAddress').val().trim();
                var trc20Address = $('#trc20Address').val().trim();

                if (erc20Address || bnbAddress || maticAddress || trc20Address) {
                    var requestData = {
                        erc20Address: erc20Address,
                        bnbAddress: bnbAddress,
                        maticAddress: maticAddress,
                        trc20Address: trc20Address
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/api/webapi/addCryptoAddress',
                        data: requestData,
                        dataType: 'json',
                        success: function (response) {
                            alertMess(response.message)
                            fetchSavedAddresses(); // Refresh saved addresses after successful submission
                            $('#withdrawalForm')[0].reset(); // Reset form fields
                        },
                        error: function (xhr, status, error) {
                            alertMess(error)
                        }
                    });
                } else {
                    alertMess('Please fill out at least one address field')
                }
            });
        });

    </script>
</body>

</html>