<html lang="en" translate="no" data-dpr="1" style="font-size: 54px;"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="google" content="notranslate">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
	 <title>RK Lottery  </title>
	<link rel="shortcut icon" href="/img/Home/image.png" type="image/x-icon">
	<link rel="stylesheet" href="/assets/indexh.css">
	<script type="module" crossorigin="" src="/assets/js/index-99f21930.js.download"></script>
	<link rel="stylesheet" href="/assets/css1/index-1b2aadf0.css">
	<link rel="stylesheet" href="/assets/css1/index-d68cd664.css">
	<link rel="stylesheet" href="/assets/css1/LangPopup-d337bc92.css">
	<link rel="stylesheet" href="/assets/css1/index-a42061b1.css">
	<link rel="stylesheet" href="/assets/css1/SlideCaptcha-2937b4a9.css">
	<link rel="stylesheet" href="/assets/css1/Dialog-42739d2b.css">
	<link rel="stylesheet" href="/assets/css1/VerifyInput-19ca56f5.css">
	<link rel="stylesheet" href="/assets/css1/PasswordInput-700b9e8d.css">
	<link rel="stylesheet" href="/assets/css1/DropDown-d2207107.css">
	<link rel="stylesheet" href="/assets/css1/PhoneInput-f478a9e1.css">
	<link rel="stylesheet" href="/assets/css1/EmailInput-38177c74.css">
	<link rel="stylesheet" href="/assets/css1/index-27c9c16e.css">
	<link rel="stylesheet" href="/assets/css1/NavBar-cbe57590.css">
	<link rel="stylesheet" href="/assets/css1/index-40441fd9.css">
	<link rel="stylesheet" href="/assets/css1/swiper-20baf52c.css">
	<link rel="stylesheet" href="/assets/css1/HomeDialog-574a9f2f.css">
	<link rel="stylesheet" href="/assets/css1/_vite_template-4c94c3fc.css">
	<link rel="stylesheet" href="/assets/css1/card-f94d055d.css">
	<link rel="stylesheet" href="/assets/css1/index-b7082b03.css">
	<link rel="stylesheet" href="/assets/css1/index-8a00f14d.css">
	<link rel="stylesheet" href="/assets/css1/index-42dbeb47.css">
	<link rel="stylesheet" href="/assets/css1/index-28287713.css">
	<link rel="stylesheet" href="/assets/css1/Rule-1206c306.css">
	<link rel="stylesheet" href="/assets/css1/index-8097b5f0.css">
	<link rel="stylesheet" href="/assets/css1/index-65747ead.css">
</head>

<body class="" style="font-size: 12px;">
	<div id="app" data-v-app="">
		
		<div data-v-de39c3b8="" data-v-bb39b164="" class="navbar">
			<div data-v-de39c3b8="" class="navbar-fixed" style="background: #323A7C;">
				<div data-v-de39c3b8="" class="navbar__content">
					<div data-v-de39c3b8="" class="navbar__content-left" onclick="window.location.href='/activity'"><i data-v-de39c3b8="" class="van-badge__wrapper van-icon van-icon-arrow-left"></i></div>
					<div data-v-de39c3b8="" class="navbar__content-center">
						<div data-v-de39c3b8="" class="navbar__content-title">First deposit bonus</div>
					</div>
					<div data-v-de39c3b8="" class="navbar__content-right"></div>
				</div>
			</div>
		</div>
		<div data-v-bb39b164="" class="first_list">
			
			<div data-v-89e57484="" class="first_list-item">
				<div data-v-89e57484="" class="head">
					<div data-v-89e57484="" class="title">first deposit<span data-v-89e57484="">₹1,00,000</span></div>
					<div data-v-89e57484="" class="orange">+ ₹5,000</div>
				</div>
				<div data-v-89e57484="" class="description">Deposit ₹1,00,000 all time you will receive ₹5,000 bonus</div>
				<div data-v-89e57484="" class="foot">
					<div data-v-c0491936="" data-v-89e57484="" class="progress" style="background: #323A7C; height: 16px; border-radius: 16px;">
						<div data-v-c0491936="" class="line" style="background: rgb(77, 216, 239); width: 0%; height: 16px; border-radius: 16px;"></div>
						<div data-v-c0491936="" class="step">0/50000</div>
					</div>
					<div data-v-89e57484="" onclick="location.href='/wallet/recharge'" class="btn n2">Deposit</div>
				</div>
			</div>
			<div data-v-89e57484="" class="first_list-item">
				<div data-v-89e57484="" class="head">
					<div data-v-89e57484="" class="title">first deposit<span data-v-89e57484="">₹50,000</span></div>
					<div data-v-89e57484="" class="orange">+ ₹2,500</div>
				</div>
				<div data-v-89e57484="" class="description">Deposit ₹50,000 all time you will receive ₹2,500 bonus</div>
				<div data-v-89e57484="" class="foot">
					<div data-v-c0491936="" data-v-89e57484="" class="progress" style="background: #323A7C; height: 16px; border-radius: 16px;">
						<div data-v-c0491936="" class="line" style="background: rgb(77, 216, 239); width: 0%; height: 16px; border-radius: 16px;"></div>
						<div data-v-c0491936="" class="step">0/10000</div>
					</div>
					<div data-v-89e57484="" onclick="location.href='/wallet/recharge'" class="btn n2">Deposit</div>
				</div>
			</div>
			<div data-v-89e57484="" class="first_list-item">
				<div data-v-89e57484="" class="head">
					<div data-v-89e57484="" class="title">first deposit<span data-v-89e57484="">₹10,000</span></div>
					<div data-v-89e57484="" class="orange">+ ₹500</div>
				</div>
				<div data-v-89e57484="" class="description">Deposit ₹10,000 all time you will receive ₹500 bonus</div>
				<div data-v-89e57484="" class="foot">
					<div data-v-c0491936="" data-v-89e57484="" class="progress" style="background: #323A7C; height: 16px; border-radius: 16px;">
						<div data-v-c0491936="" class="line" style="background: rgb(77, 216, 239); width: 0%; height: 16px; border-radius: 16px;"></div>
						<div data-v-c0491936="" class="step">0/5000</div>
					</div>
					<div data-v-89e57484="" onclick="location.href='/wallet/recharge'" class="btn n2">Deposit</div>
				</div>
			</div>
		
			<div data-v-89e57484="" class="first_list-item">
				<div data-v-89e57484="" class="head">
					<div data-v-89e57484="" class="title">first deposit<span data-v-89e57484="">₹5,000</span></div>
					<div data-v-89e57484="" class="orange">+ ₹250</div>
				</div>
				<div data-v-89e57484="" class="description">Deposit ₹5,000 all time you will receive 250 bonus</div>
				<div data-v-89e57484="" class="foot">
					<div data-v-c0491936="" data-v-89e57484="" class="progress" style="background: #323A7C; height: 16px; border-radius: 16px;">
						<div data-v-c0491936="" class="line" style="background: rgb(77, 216, 239); width: 0%; height: 16px; border-radius: 16px;"></div>
						<div data-v-c0491936="" class="step">0/1000</div>
					</div>
					<div data-v-89e57484="" onclick="location.href='/wallet/recharge'" class="btn n2">Deposit</div>
				</div>
			</div>
			<div data-v-89e57484="" class="first_list-item">
				<div data-v-89e57484="" class="head">
					<div data-v-89e57484="" class="title">first deposit<span data-v-89e57484="">₹500</span></div>
					<div data-v-89e57484="" class="orange">+ ₹25.00</div>
				</div>
				<div data-v-89e57484="" class="description">Deposit ₹500 for the all time and you will receive 10 bonus</div>
				<div data-v-89e57484="" class="foot">
					<div data-v-c0491936="" data-v-89e57484="" class="progress" style="background: #323A7C; height: 16px; border-radius: 16px;">
						<div data-v-c0491936="" class="line" style="background: rgb(77, 216, 239); width: 0%; height: 16px; border-radius: 16px;"></div>
						<div data-v-c0491936="" class="step">0/500</div>
					</div>
					<div data-v-89e57484="" onclick="location.href='/wallet/recharge'" class="btn n2">Deposit</div>
				</div>
			</div>
			<div data-v-89e57484="" class="first_list-item">
				<div data-v-89e57484="" class="head">
					<div data-v-89e57484="" class="title">first deposit<span data-v-89e57484="">₹200</span></div>
					<div data-v-89e57484="" class="orange">+ ₹10</div>
				</div>
				<div data-v-89e57484="" class="description">Deposit ₹200 for the all time and you will receive 10 bonus</div>
				<div data-v-89e57484="" class="foot">
					<div data-v-c0491936="" data-v-89e57484="" class="progress" style="background: #323A7C; height: 16px; border-radius: 16px;">
						<div data-v-c0491936="" class="line" style="background: rgb(77, 216, 239); width: 0%; height: 16px; border-radius: 16px;"></div>
						<div data-v-c0491936="" class="step">0/250</div>
					</div>
					<div data-v-89e57484="" onclick="location.href='/wallet/recharge'" class="btn n2">Deposit</div>
				</div>
			</div>
		</div>
		<div data-v-30815d46="" data-v-bb39b164="" class="rule">
			<div data-v-30815d46="" class="head">Activity Rules</div>
			<div data-v-30815d46="">Exclusive for the first recharge of the account. There is only one chance. The more
				you recharge, the more rewards you will receive. The highest reward is ₹5,000 </div>
			<div data-v-30815d46="">Activities cannot be participated in repeatedly;</div>
			<div data-v-30815d46="">Rewards can only be claimed manually on IOS, Android, H5, and PC;</div>
			<div data-v-30815d46="">The bonus (excluding the principal) given in this event requires 1.00 times the
				coding turnover (i.e. valid bets) before it can be withdrawn, and the coding does not limit the
				platform;</div>
			<div data-v-30815d46="">This event is limited to normal human operations by the account owner. It is
				prohibited to rent, use plug-ins, robots, gamble with different accounts, brush each other, arbitrage,
				interfaces, protocols, exploit loopholes, group control or other technical means to participate,
				otherwise it will be canceled or Rewards will be deducted, frozen, or even blacklisted;</div>
			<div data-v-30815d46="">In order to avoid differences in text understanding, the platform reserves the right
				of final interpretation of this event.</div>
		</div>
		
	</div>





</body></html>