<style>
    .loading-image {
        position: fixed;
        margin-top: -100px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div id="loadingImage" class="loading-image" style="z-index: 2001; display:none;">
    <img src="/images/loading2.gif" alt="Loading..." width="200" height="200">
</div>