<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" style="font-size: 40.5px;">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <meta name="google" content="notranslate">
  <meta name="robots" content="noindex,nofollow">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>RK Lottery </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="../index_files/modules-96c1e775.css">
  <link rel="stylesheet" href="../index_files/page-activity-d48e62db.css">
  <link rel="stylesheet" href="../index_files/index-96409872.css">
  <link rel="stylesheet" href="../index_files/page-home-58543d87.css">
  <link rel="stylesheet" href="../css/index-41c59777.css">
  <link rel="stylesheet" href="../css/HomeDialog-44caafc8.css">
  <link rel="stylesheet" href="../css/index-8d0b9742.css">

  <link rel="stylesheet" href="../css/index-52683102.css">

  <link rel="stylesheet" href="../css/index-d27f4bf1.css">

  <link rel="stylesheet" href="../css/swiper-20baf52c.css">


  <link rel="stylesheet" href="../assets/css/_vite_template-88676b31.css">
  <link rel="stylesheet" href="../assets/css/index-3cf8aaa6.css">
  <link rel="stylesheet" href="../assets/css/index-8d0b9742.css">
  <link rel="stylesheet" href="../assets/css/index-d27f4bf1.css">
  <link rel="stylesheet" href="../assets/css/NavBar-c40aa6d4.css">
  <link rel="stylesheet" href="../assets/css/index-dc81589f.css">

  <style>
    .fun-tabs {

      background: #22275b !important;
    }

    .fun-tabs {
      overflow: auto !important;
      position: relative;
      width: 100%;
    }

    .luckyWinners__container {
      padding: 0.4rem !important;
    }

    .dailyProfitRank {
      padding: 0.3rem;
    }

    .terms {
      padding: 0.5rem !important;
    }

    .settingPanel__container.panel-daman {
      padding: 0.5rem !important;
    }

    .tab_item {
      background: #2b3270;
    }

    .onlineGames__container[data-v-6dbd07ea] .tabs .tab_item {

      height: 1.53333rem !important;

    }

    .settingPanel__container-items {
      margin-bottom: 3.5rem;
    }
  </style>

</head>
<!-- Dialog HTML -->


<body style="font-size: 12px;" class="">

  <div id="app" data-v-app="">

    <!---->
    <div data-v-6dbd07ea="" class="onlineGames__container" style="--f817f0ee: 'Roboto', 'Inter', sans-serif;">
      <div data-v-81ead1cb="" data-v-6dbd07ea="" class="navbar">
        <div data-v-81ead1cb="" class="navbar-fixed wc" style="background: rgb(43, 50, 112);">
          <div data-v-81ead1cb="" class="navbar__content">
            <div data-v-81ead1cb="" class="navbar__content-left" onclick="location.href='/home'">
              <i data-v-81ead1cb="" class="van-badge__wrapper van-icon van-icon-arrow-left">
                <!---->
                <!---->
                <!---->
              </i>
            </div>
            <div data-v-81ead1cb="" class="navbar__content-center">
              <!---->
              <span data-v-6dbd07ea="" class="">
                Table Game Casino
              </span>
              <input data-v-6dbd07ea="" type="text" placeholder="Search game" class="">
            </div>
            <div data-v-81ead1cb="" class="navbar__content-right">
              <i data-v-6dbd07ea="" class="van-badge__wrapper van-icon">
                <!---->
                <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp"
                  style="width:.66667rem;height:.66667rem">
                <!---->
              </i>

            </div>
          </div>
        </div>
      </div>
      <div data-v-6dbd07ea="">

        <div data-v-6dbd07ea="" class="fun-tabs tabs">
          <div class="fun-tabs__tab-list"
            style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            <div class="fun-tab-item funtab_item">
              <div class="fun-tab-item__wrap">
                <div class="fun-tab-item__label">
                  <div data-v-6dbd07ea="" class="tab_item tab_active" onclick="location.href='/home/lottery'">
                    <img data-v-6dbd07ea="" src="/assets/png/JILIActive-ff37a95a.png">
                    <span data-v-6dbd07ea="">
                      lottery
                    </span>
                  </div>
                </div>
                <!--v-if-->
              </div>
            </div>
            <div class="fun-tab-item funtab_item">
              <div class="fun-tab-item__wrap">
                <div class="fun-tab-item__label">
                  <div data-v-6dbd07ea="" class="tab_item " onclick="location.href='/home/crash'">
                    <img data-v-6dbd07ea="" src="/assets/png/JILIActive-ff37a95a.png">
                    <span data-v-6dbd07ea="">
                      crash game
                    </span>
                  </div>
                </div>
                <!--v-if-->
              </div>
            </div>
            <div class="fun-tab-item funtab_item" style="">
              <div class="fun-tab-item__wrap">
                <div class="fun-tab-item__label">
                  <div data-v-6dbd07ea="" class="tab_item" onclick="location.href='/home/fishing'">
                    <img data-v-6dbd07ea="" src="/assets/png/PG-a574cdcc.png">
                    <span data-v-6dbd07ea="">
                      Fishing
                    </span>
                  </div>
                </div>
                <!--v-if-->
              </div>
            </div>
            <div class="fun-tab-item funtab_item" style="">
              <div class="fun-tab-item__wrap">
                <div class="fun-tab-item__label">
                  <div data-v-6dbd07ea="" class="tab_item" onclick="location.href='/home/rummy'">
                    <img data-v-6dbd07ea="" src="/assets/png/AG-1c935333.png">
                    <span data-v-6dbd07ea="">
                      Rummy
                    </span>
                  </div>
                </div>
                <!--v-if-->
              </div>
            </div>
            <div class="fun-tab-item funtab_item" style="">
              <div class="fun-tab-item__wrap">
                <div class="fun-tab-item__label">
                  <div data-v-6dbd07ea="" class="tab_item" onclick="location.href='/home/slot'">
                    <img data-v-6dbd07ea="" src="/assets/png/MG-e0fa50f7.png">
                    <span data-v-6dbd07ea="">
                      Slot
                    </span>
                  </div>
                </div>
                <!--v-if-->
              </div>
            </div>
            <div class="fun-tab-item funtab_item" style="">
              <div class="fun-tab-item__wrap">
                <div class="fun-tab-item__label">
                  <div data-v-6dbd07ea="" class="tab_item " onclick="location.href='/home/casino'">
                    <img data-v-6dbd07ea="" src="/assets/png/JDB-8224bc9c.png">
                    <span data-v-6dbd07ea="">
                      Casino
                    </span>
                  </div>
                </div>
                <!--v-if-->
              </div>
            </div>
            <!-- <div class="fun-tab-item funtab_item" style="">
              <div class="fun-tab-item__wrap">
                <div class="fun-tab-item__label">
                  <div data-v-6dbd07ea="" class="tab_item" onclick="location.href='/slotcq9'">
                    <img data-v-6dbd07ea="" src="/assets/png/CQ9-9faff6b9.png">
                    <span data-v-6dbd07ea="">
                      CQ9
                    </span>
                  </div>
                </div>
               
              </div>
            </div>
            <div class="fun-tab-item funtab_item" style="">
              <div class="fun-tab-item__wrap">
                <div class="fun-tab-item__label">
                  <div data-v-6dbd07ea="" class="tab_item" onclick="location.href='/slotevo'">
                    <img data-v-6dbd07ea="" src="/assets/png/EVO-af7bbdd1.png">
                    <span data-v-6dbd07ea="">
                      EVO_Electronic
                    </span>
                  </div>
                </div>
             
              </div>
            </div> -->

          </div>
        </div>
        <div data-v-6dbd07ea="" class="fun-tabs tab-type">
          <div class="fun-tabs__tab-list"
            style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            <div class="fun-tabs__active-line"
              style="transition: all 300ms ease 0s; width: 0px; height: 3px; transform: translate3d(0px, 0px, 0px); background-color: rgb(22, 119, 255);">
            </div>
          </div>
        </div>
        <div data-v-8cc9e531="" class="allGames__container-list">
          <div data-v-8cc9e531="" class="gamesList__container">
            <div class="gamesList__container-title">Lottery</div><!----><!---->
            <div data-v-2f622647="" class="lottery_container">
              <div onclick="location.href='/win'">
                <div data-v-2f622647="" class="lotterySlotItem"><img data-v-2f622647="" onclick="location.href='/win'"
                    data-src="/images/lotterycategory_20240124125544jt65.png" src="/images/lotterycategory_20240124125544jt65.png"
                    lazy="loaded"><span data-v-2f622647="">Win Go</span>
                  <h4 data-v-2f622647="">
                    <div data-v-2f622647="">Guess Number</div>
                    <div data-v-2f622647="">Green/Red/Purple to win</div>
                  </h4>
                </div>
              </div>
              <div onclick="location.href='/k3'">
                <div data-v-2f622647="" class="lotterySlotItem"><img data-v-2f622647="" onclick="location.href='/k3'"data-src="/images/lotterycategory_20240124125551se9i.png"
                      src="/images/lotterycategory_20240124125551se9i.png" lazy="loaded"><span data-v-2f622647="">K3</span>
                    <h4 data-v-2f622647="">
                      <div data-v-2f622647="">Guess Number</div>
                      <div data-v-2f622647="">Big/Small/Odd/Even</div>
                    </h4>
                  </div>
                </div>
                <div onclick="location.href='/5d'">
                  <div data-v-2f622647="" class="lotterySlotItem"><img data-v-2f622647="" onclick="location.href='/5d'"
                      data-src="/images/lotterycategory_20240124125558slo1.png"
                      src="/images/lotterycategory_20240124125558slo1.png" lazy="loaded"><span data-v-2f622647="">5D</span>
                    <h4 data-v-2f622647="">
                      <div data-v-2f622647="">Guess Number</div>
                      <div data-v-2f622647="">Big/Small/Odd/Even</div>
                    </h4>
                  </div>
                </div>
                <div onclick="location.href='/win'">
                  <div data-v-2f622647="" class="lotterySlotItem"><img data-v-2f622647="" onclick="location.href='/win'"
                      data-src="/images/lotterycategory_20240124125606db4a.png"
                      src="/images/lotterycategory_20240124125606db4a.png" lazy="loaded"><span data-v-2f622647=""
                      onclick="location.href='/win'">Trx Win</span>
                    <h4 data-v-2f622647="" onclick="location.href='/win'">
                      <div data-v-2f622647="">Guess Number</div>
                      <div data-v-2f622647="">Green/Red/Purple to win</div>
                    </h4>
                  </div>
                </div>
              </div><!----><!---->
            </div>
          </div>
        </div>
    </div>

    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->


    <div data-v-0341cbde="" class="settingPanel__container panel-daman">
      <div data-v-0341cbde="" class="settingPanel__container-items">
        <div data-v-0341cbde="" class="settingPanel__container-items__item ar-1px-b">
          <div data-v-0341cbde="" class="settingPanel__container-items__title">
            <img data-v-0341cbde="" src="/assets/png/languageIcon-1de5d51f.png">
            <span data-v-0341cbde="">
              Language
            </span>
          </div>
          <div data-v-0341cbde="" class="settingPanel__container-items-right">
            <h5 data-v-0341cbde="" style="display: none;">
              6
            </h5>
            <span data-v-0341cbde="">
              English
            </span>
            <i data-v-0341cbde="" class="van-badge__wrapper van-icon van-icon-arrow" style="color: rgb(255, 255, 255);">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
        <div data-v-0341cbde="" class="settingPanel__container-items__item ar-1px-b">
          <div data-v-0341cbde="" class="settingPanel__container-items__title">
            <img data-v-0341cbde="" src="/assets/png/notificationCenter-c208b6dc.png">
            <span data-v-0341cbde="">
              Notification
            </span>
          </div>
          <div data-v-0341cbde="" class="settingPanel__container-items-right">
            <h5 data-v-0341cbde="" style="display: none;">
              6
            </h5>
            <span data-v-0341cbde="" style="display: none;">
              English
            </span>
            <i data-v-0341cbde="" class="van-badge__wrapper van-icon van-icon-arrow" style="color: rgb(255, 255, 255);">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
        <div data-v-0341cbde="" class="settingPanel__container-items__item ar-1px-b">
          <div data-v-0341cbde="" class="settingPanel__container-items__title">
            <img data-v-0341cbde="" src="/assets/png/serviceCenter-be03350d.png">
            <span data-v-0341cbde="">
              24/7 Customer service
            </span>
          </div>
          <div data-v-0341cbde="" class="settingPanel__container-items-right">
            <h5 data-v-0341cbde="" style="display: none;">
              6
            </h5>
            <span data-v-0341cbde="" style="display: none;">
              English
            </span>
            <i data-v-0341cbde="" class="van-badge__wrapper van-icon van-icon-arrow" style="color: rgb(255, 255, 255);">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
        <div data-v-0341cbde="" class="settingPanel__container-items__item ar-1px-b">
          <div data-v-0341cbde="" class="settingPanel__container-items__title">
            <img data-v-0341cbde="" src="/assets/png/guide-8b182d39.png">
            <span data-v-0341cbde="">
              Beginner's Guide
            </span>
          </div>
          <div data-v-0341cbde="" class="settingPanel__container-items-right">
            <h5 data-v-0341cbde="" style="display: none;">
              6
            </h5>
            <span data-v-0341cbde="" style="display: none;">
              English
            </span>
            <i data-v-0341cbde="" class="van-badge__wrapper van-icon van-icon-arrow" style="color: rgb(255, 255, 255);">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
        <div data-v-0341cbde="" class="settingPanel__container-items__item ar-1px-b">
          <div data-v-0341cbde="" class="settingPanel__container-items__title">
            <img data-v-0341cbde="" src="/assets/png/about-1c7393f9.png">
            <span data-v-0341cbde="">
              About us
            </span>
          </div>
          <div data-v-0341cbde="" class="settingPanel__container-items-right">
            <h5 data-v-0341cbde="" style="display: none;">
              6
            </h5>
            <span data-v-0341cbde="" style="display: none;">
              English
            </span>
            <i data-v-0341cbde="" class="van-badge__wrapper van-icon van-icon-arrow" style="color: rgb(255, 255, 255);">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
        <div data-v-0341cbde="" class="settingPanel__container-items__item ar-1px-b">
          <div data-v-0341cbde="" class="settingPanel__container-items__title" onclick="location.href='/wincas.apk'">
            <img data-v-0341cbde="" src="/assets/png/down-8ad7989c.png">
            <span data-v-0341cbde="">
              Download APP
            </span>
          </div>
          <div data-v-0341cbde="" class="settingPanel__container-items-right">
            <h5 data-v-0341cbde="" style="display: none;">
              6
            </h5>
            <span data-v-0341cbde="" style="display: none;">
              English
            </span>
            <i data-v-0341cbde="" class="van-badge__wrapper van-icon van-icon-arrow" style="color: rgb(255, 255, 255);">
              <!---->
              <!---->
              <!---->
            </i>
          </div>
        </div>
      </div>
    </div>













  </div>
  <div data-v-app="">
  </div>
  <%- include('dialog.ejs') %>
    <%- include('loading.ejs') %>


      <%- include('../nav') -%>
        <script>
          // Get the tab list element
          const tabList = document.querySelector('.fun-tabs__tab-list');

          // Define the current position of the tab list
          let currentPosition = 0;

          // Function to slide the tab list to the left
          function slideLeft() {
            currentPosition += 100; // Adjust the value according to your design
            tabList.style.transform = `translateX(${currentPosition}px)`;
          }

          // Function to slide the tab list to the right
          function slideRight() {
            currentPosition -= 100; // Adjust the value according to your design
            tabList.style.transform = `translateX(${currentPosition}px)`;
          }
        </script>
        <script>

          let currentId;
          function openDialog(id) {
            
            openGameconfirmoverlay()
            currentId = id
            const gameDialog = document.getElementById('gameconfirm');
            gameDialog.style.display = 'block';

          }
          function openGameconfirmoverlay() {
            const gameDialog = document.getElementById('gameconfirmoverlay');
            gameDialog.style.display = 'block';

          }

          function closeDialog() {
            closeGameconfirmoverlay()
            currentId = null
            const gameDialog = document.getElementById('gameconfirm');
            gameDialog.style.display = 'none';

          }
          function closeGameconfirmoverlay() {
            const gameDialog = document.getElementById('gameconfirmoverlay');
            gameDialog.style.display = 'none';

          }

          function redirectJilliFunction() {

            const loadingImage = document.getElementById('loadingImage');
            loadingImage.style.display = 'block';
            if (currentId) {
              fetch(`/api/webapi/GetJilliboardGame/${currentId}`)
                .then(response => response.json())
                .then(response => {
                  closeDialog()
                  openGameconfirmoverlay()
                  const data = response?.data
                  if (data?.url) {
                    currentId = null
                    const newTab = window.open(data.url, '_blank');
                    const checkTabClosed = setInterval(() => {
                      if (newTab && newTab.closed) {
                        clearInterval(checkTabClosed);
                        closeDialog()
                        const loadingImage = document.getElementById('loadingImage');
                        loadingImage.style.display = 'none';
                        window.location.href = '/home';
                      }
                    }, 500);
                  }
                })
                .catch(error => {
                  const loadingImage = document.getElementById('loadingImage');
                  loadingImage.style.display = 'none';
                  console.error('Error:', error);
                });
            }

          }

          function redirectFunction(app_id) {
            fetch(`/api/webapi/GetTopBettingboardGame/${app_id}`)
              .then(response => response.json())
              .then(response => {
                const data = response?.data
                // window.open(data?.url, '_blank');
                const newTab = window.open(data?.url, '_blank');
                const checkTabClosed = setInterval(() => {
                  if (newTab && newTab.closed) {
                    clearInterval(checkTabClosed);
                    window.location.href = '/home#original';
                  }
                }, 500);
              })
              .catch(error => {
                console.error('Error:', error);
              });
          }


        </script>
</body>

</html>